* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #b8d9e5;
    --header-font-color: #ffffff;
    --header-name-color: #003245;
    --hero-subtitle-color: #5097b2;
    --contact-border: #ffffff;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 20px;
    background-color: #005272;
    color: var(--header-font-color);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 0 10px 0 10px;
    background-color: var(--header-name-color);
}

.header nav {
    padding: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 3px ridge var(--header-font-color);
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 20px;
    padding: 50px;
    line-height: 1.5;
}

.portrait {
    float: right;
}

#pic {
    width: 148.5px;
    height: 264px;
}

section {
    padding: 50px;
}

article h2 {
    position: relative;
    padding-top: 80px;
    font-weight: 900; 
    font-size: 40px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/ocean.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h3 {
    background-color: var(--hero-subtitle-color);
    padding: 20px;
}

.about-me {
    margin-bottom: 10px;
    padding-bottom: 80px;
}

.about-me h2 {
    text-align: left;
    float: left;
    padding-right: 20px;
}

.about-me p {
    margin-left: 200px;
    padding-left: 20px;
    border-left: 3px ridge var(--contact-border);
}

.content {
    display: inline-block;
    margin-left: 20px;
}

.work {
    margin-bottom: 10px;
}

.work h2 {
    text-align: left;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: column;
    padding-left: 20px;
    border-left: 3px ridge var(--contact-border);
    margin-left: 200px;
    text-decoration: none;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px ridge white;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-evenly;
    align-content: space-around;
}

.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: '/images/movie-ranker.png';
    background-position: top;
    height: 300px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-2 {
    grid-column: 3;
    grid-row: 1;
    background-image: url(https://raw.githubusercontent.com/Silvam2017/Portfolio/master/assets/images/Run-Buddy-Small.png);
    background-position: top;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-3 {
    grid-column: 3;
    grid-row: 2;
    background-image: url(https://raw.githubusercontent.com/Silvam2017/Portfolio/master/assets/images/Horiseon-Small.png);
    background-position: top;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-4 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(https://raw.githubusercontent.com/Silvam2017/Portfolio/master/assets/images/Run-Buddy-Small.png);
    background-position: top;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url(../images/250.png);
    background-position: center;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contact-me {
    display: flex;
    text-align: center;
}

.contact-me > * {
    flex: 1;
}

.phone-number {
    padding-left: 20px;
    border-left: 3px ridge var(--contact-border);
}

footer {
    display: flex;
    text-align: center;
    background: #005272;
    padding: 20px;
    color: var(--header-font-color);
}

footer h2 {
    font-size: 30px;
    margin: 10px 46px;
}

footer h4 {
   flex: auto;
   margin-top: 12px;
   padding-left: 20px;
   padding-top: 8px;
}

.white-text {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: left;
        padding-left: 20px;
    }

    header nav {
        padding: 0;
    }
      
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        float: right;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    section {
        padding: 30px 15px;
    }

    .hero {
        width: 128%;
    }

    .article {
        text-align: center;
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .grid-item {
        transform: none;
        writing-mode: unset;
    }

}